.body {
    background-color: #10b2b2;
}

.tecla {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border-color: blue;
    border-width: 1rem;
}

.listado {
    display: flex;
    list-style-type: none;

}

.mainbody {
    display: flex;
    position: relative;
    justify-content: center;
    list-style-type: none;
}